.footer {
  text-align: right;
  padding: 20px 10px;
  margin-top: 0px;
  background: white;
  color: @gray;

  display: flex;
  // flex-direction: row-reverse;
  // flex-wrap: wrap-reverse;
  justify-content: space-around;
  align-items: center;

  p {
    margin: 15px;
    text-align: center;
  }

  .logo-equalrightstrust {
    height: 15px;
  }

  .logo-gitlab {
    height: 20px;
  }

  .logo-cc {
    height: 23px;
  }

  .logo-datacuenta {
    height: 25px;
    top: -2px;
    position: relative;
  }

  .logo-tedic {
    height: 29px;
  }

  .logo-europa {
    height: 28px;
  }

  // xs
  @media screen and (max-width: @screen-xs-max) {}

  // sm
  @media screen and (min-width: @screen-sm-min) {}

  // md
  @media screen and (min-width: @screen-md-min) {
    .logo-europa { height: 60px; }
    .logo-equalrightstrust { height: 39px; }
    .logo-tedic { height: 60px; }
    .logo-datacuenta { height: 50px; }
    .logo-gitlab { height: 37px; }
    .logo-cc { height: 35px; }
  }

  // lg
  @media screen and (min-width: @screen-lg-min) {}
}
