.pregunta-container {
  transition: background-color 1000ms linear;
  margin-top: -60px;
  padding-top: 60px;

  .bg-preguntas {
    padding: 15px;
  }
  
  &.success {
    background-color: @brand-success;
  }
  &.info {
    background-color: @brand-info;
  }
  &.warning {
    background-color: @brand-warning;
  }
  &.danger {
    background-color: @brand-danger;
  }
  
  .pregunta-id {
    width: 70%;
    margin: auto;
    margin-top: 15px;

    h2 {
      max-width: 20vw;
      display: block;
      color: white;
      font-size: 110px;
      font-weight: bold;
      text-align: center;
    }
  }

  .bg-preg-text {
    background: url('/assets/images/bg-preg-text.svg') no-repeat;
    background-size: 260px auto;
    background-position: 50% 50%;
    padding: 17px;
    width: 290px;
    height: 264px;
    margin: auto;
  }

  &.par {
    .bg-preguntas {
      background: url('/assets/images/bg-preguntas-a.svg') no-repeat;
      background-size: 230% auto;
      background-position: 50% -80px;
    }
    .pregunta-id h2 {
      margin: 0 44vw 0 0vw; // izquierda
    }
  }
  &.impar {
    .bg-preguntas {
      background: url('/assets/images/bg-preguntas-b.svg') no-repeat;
      background-size: 230% auto;
      background-position: 50% -80px; 
    }
    .pregunta-id h2 {
      margin: 0 0vw 0 44vw; // derecha
    }
  }

  .pregunta-text {
    p {
      color: @gray;
      text-align: center;
      line-height: 1.1em;

      display: block;
      padding: 38px;
      font-size: 1.3em;
    }
  }
  &.pregunta-1 {
    .pregunta-text p {
      font-size: 1.6em;
    }
  }
  &.pregunta-4 {
    .pregunta-text p {
      font-size: 1.29em;
    }
  }
  &.pregunta-5 {
    .pregunta-text p {
      font-size: 1.5em;
    }
  }
  &.pregunta-6 {
    .pregunta-text p {
      font-size: 1.2em;
    }
  }
  &.pregunta-8 {
    .pregunta-text p {
      font-size: 1.40em;
    }
  }
  &.pregunta-9 {
    .pregunta-text p {
      font-size: 1.10em;
    }
  }

  .pregunta-btn-group {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 245px;
    margin: auto;

    .btn-group {
      .btn {
        border-radius: 10px !important;
        font-weight: bold;
        padding: 5px 15px;
        box-shadow: 0px 4px 12px -5px rgba(0, 0, 0, 1);
        cursor: pointer;
        outline: none;

        .icon {
          height: 30px;
          width: 30px;
          display: none;
        }

        .text {
          color: @gray;
          font-size: 1.1em;
          display: initial;
        }

        &.shake {
          .icon {
            display: block;
          }
        }
      }

      .btn-si {
        background-color: white;
        border: 1px solid white;
        color: @gray;
        margin-left: 15px;
        margin-bottom: 10px;
        width: 60px;
        
        img.message-tail-bottom-right {
          position: absolute;
          right: 3px;
          bottom: -10px;
          height: 10px;
        }

        &.shake {
          animation: temblar 0.82s cubic-bezier(.36,.07,.19,.97) both;
          animation-iteration-count: 2;
        }

        .icon {
          position: absolute;
          top: -14px;
          right: -10px;
        }
      }

      .btn-no {
        background-color: white;
        border: 1px solid white;
        color: @gray;
        margin-bottom: 10px;
        width: 60px;

        img.message-tail-bottom-left {
          position: absolute;
          left: 3px;
          bottom: -10px;
          height: 10px;
        }

        &.shake {
          animation-name: negar;
          animation-duration: 0.8s;
          transform-origin: 50% 50%;
          animation-iteration-count: 1;
          animation-timing-function: linear;
          transform: translate3d(0, 0, 0);
        }

        .icon {
          position: absolute;
          top: -14px;
          left: -10px;
        }
      }

      .btn-nose {
        background-color: white;
        border: 1px solid white;
        color: @gray;
        margin-top: 15px;
        margin-bottom: 10px;
        width: 160px;

        &.shake {
          animation-name: dudar;
          animation-duration: 1s;
          transform-origin: 50% 50%;
          animation-iteration-count: 1;
          animation-timing-function: ease-out;
          transform: translate3d(0, 0, 0);
        }

        .icon {
          position: absolute;
          top: -21px;
          left: 65px;
        }
      }
    }
  }

  // xs
  @media screen and (max-width: @screen-xs-max) {}

  // sm
  @media screen and (min-width: @screen-sm-min) {
    &.par, &.impar {
      .bg-preguntas {
        background-position: 50% -120px;
      }
    }
  }

  // md
  @media screen and (min-width: @screen-md-min) {
    &.par, &.impar {
      .bg-preguntas {
        background: url('/assets/images/bg-preguntas-c.svg') no-repeat;
        background-size: 160% auto;
        background-position: 40% 40%;
      }
    }

    &.par .pregunta-id h2, 
    &.impar .pregunta-id h2 {
      margin: 0px !important;
    }

    .bg-preg-text {
      background-size: 320px auto;
      background-position: 50% 50%;
      padding: 30px;
      width: 340px;
      height: 330px;
    }

    .content {
      padding: 80px 0px;
    }

    .pregunta-text {
      height: 275px;
      width: 275px;
      font-size: 16px;

      p {
        padding: 54px 30px;
      }
    }

    .pregunta-id {
      padding-top: 60px;
    }

    .pregunta-btn-group {
      padding-top: 80px;
    }
  }

  // lg
  @media screen and (min-width: @screen-lg-min) {}
}

@keyframes temblar {
  0% { transform: translate(2px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-1deg); }
	20% { transform: translate(-3px, 0px) rotate(1deg); }
	30% { transform: translate(0px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(1deg); }
	50% { transform: translate(-1px, 2px) rotate(-1deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(2px, 1px) rotate(-1deg); }
	80% { transform: translate(-1px, -1px) rotate(1deg); }
	90% { transform: translate(2px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(-1deg); }
  // 0% { transform: translate(2px, 1px) rotate(0deg) }
  // 10% { transform: translate(-1px, -2px) rotate(-1deg) }
  // 15% { transform: translate(-3px, 0px) rotate(1deg) }
  // 20% { transform: translate(0px, 2px) rotate(0deg) }
  // 25% { transform: translate(1px, -1px) rotate(1deg) }
  // 30% { transform: translate(-1px, 2px) rotate(-1deg) }
  // 35% { transform: translate(-3px, 1px) rotate(0deg) }
  // 40% { transform: translate(2px, 1px) rotate(-1deg) }
  // 45% { transform: translate(-1px, -1px) rotate(1deg) }
  // 50% { transform: translate(2px, 2px) rotate(0deg) }
  // 55% { transform: translate(1px, -2px) rotate(-1deg) }
  // 60% { transform: translate(-1px, -2px) rotate(-1deg) }
  // 65% { transform: translate(-3px, 0px) rotate(1deg) }
  // 70% { transform: translate(0px, 2px) rotate(0deg) }
  // 75% { transform: translate(1px, -1px) rotate(1deg) }
  // 80% { transform: translate(-1px, 2px) rotate(-1deg) }
  // 85% { transform: translate(-3px, 1px) rotate(0deg) }
  // 90% { transform: translate(2px, 1px) rotate(-1deg) }
  // 95% { transform: translate(-1px, -1px) rotate(1deg) }
  // 100% { transform: translate(1px, -2px) rotate(-1deg) }
}

@keyframes negar {
  10%, 90% { transform: translate3d(-1px, 0, 0) }
  20%, 80% { transform: translate3d(2px, 0, 0) }
  30%, 50%, 70% { transform: translate3d(-4px, 0, 0) }
  40%, 60% { transform: translate3d(4px, 0, 0) }
}

@keyframes dudar {
  10% { transform: rotate(0deg); }
  35% { transform: rotate(-4deg); }
  85% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}