<div class="container-fluid resultado">
  <div class="row">
    <div class="text-center">
      <h2 ng-bind-html="vm.title"></h2>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 chart">
      <div id="bar" style="width: 100%; min-height:250px;"></div>
    </div>
  </div>
  
  <div class="row">
    <div class="text-center switch-mode">
      <a class="btn btn-default" ng-show='!vm.general' ng-click="vm.goToResulGen()">Ver resultados <u>generales</u></a>
      <a class="btn btn-default" ng-show='vm.general && vm.resultIndiv!=null' ng-click="vm.goToResulInd()">Ver resultados <u>individuales</u></a>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center bg-sabias-que">
      <div class="btn-group">
        <button type="button" class="btn btn-sabias-que" scroll-to="#sabias-que">
          <img class="icon-star" src="assets/images/icon-star.svg">
          ¿Sabías que?
          <img class="message-tail-danger" src="assets/images/message-tail-danger-bottom-right.svg">
        </button>
      </div>
    </div>
  </div>

  <div class="row" id="sabias-que">
    <div class="col-md-12 col-sm-12">
      <h3 class="text-center">Información legal</h3>

      <uib-accordion close-others="true">
        <div uib-accordion-group
          id="info-general"
          heading="Información general"
          is-open="vm.openAccordion.info_general"
          class="panel-default">
          <div ng-include="'accordion-info-general.html'"></div>
        </div>
        <div uib-accordion-group
          id="vigilancia"
          heading="Vigilancia"
          is-open="vm.openAccordion.vigilancia"
          class="panel-default">
          <div ng-include="'accordion-vigilancia.html'"></div>
        </div>
        <div uib-accordion-group
          id="discurso-de-odio"
          heading="Discurso de odio"
          is-open="vm.openAccordion.discurso_de_odio"
          class="panel-default">
          <div ng-include="'accordion-discurso-de-odio.html'"></div>
        </div>
        <div uib-accordion-group
          id="acoso"
          heading="Acoso"
          is-open="vm.openAccordion.acoso"
          class="panel-default">
          <div ng-include="'accordion-acoso.html'"></div>
        </div>
        <div uib-accordion-group
          id="glosario"
          heading="Glosario"
          is-open="vm.openAccordion.glosario"
          class="panel-default">
          <div ng-include="'accordion-glosario.html'"></div>
        </div>
      </uib-accordion>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 col-sm-12">
      <h3 class="text-center">Organizaciones e iniciativas de Sociedad Civil</h3>

      <uib-accordion close-others="true">
        <div uib-accordion-group
          id="plataformas"
          heading="Plataformas"
          is-open="vm.openAccordion.plataformas"
          class="panel-default">
          <div ng-include="'accordion-plataformas.html'"></div>
        </div>
        <div uib-accordion-group
          id="organizaciones"
          heading="Organizaciones"
          is-open="vm.openAccordion.organizaciones"
          class="panel-default">
          <div ng-include="'accordion-organizaciones.html'"></div>
        </div>
        <div uib-accordion-group
          id="iniciativas-estatales"
          heading="Iniciativas estatales"
          is-open="vm.openAccordion.iniciativas_estatales"
          class="panel-default">
          <div ng-include="'accordion-iniciativas-estatales.html'"></div>
        </div>
      </uib-accordion>
    </div>
  </div>
</div>
