<p>
    Sabías que: La ley 5777/16 Protección Integral a las Mujeres contra toda forma de violencia, cuenta con un apartado legal en el artículo 6. inc L que reconoce el Acoso en Internet como forma de violencia.
</p>
<p>
    “Violencia telemática: Es la acción por medio de la cual difunden o publican mensajes, fotografías, audios, videos u otros que afecten la dignidad o intimidad de las mujeres a través de las actuales tecnologías de información y comunicación, incluido el uso de estos medios para promover la cosificación, sumisión o explotación de la mujer”
</p>